.ForgotPasswordPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .closeBtn {
    border: none;
    background: none;
    padding: 7px;
    cursor: pointer;
  }
  .sendMail {
    width: 37%;
    margin-top: 16px;
    border: none;
    background: none;
    background-color: #007fff;
    border-radius: 6px;
    padding: 6px;
  }
  .sendMail:hover {
    background-color: #2c66a1;
  }
}

.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root {
  cursor: default !important;
}
